<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRtWOwgaZS5YYOMRRaD3tvs2MhPlvVODE</string>
	<key>GCM_SENDER_ID</key>
	<string>315573366149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boycearmory.app</string>
	<key>PROJECT_ID</key>
	<string>boyce-armory-investing</string>
	<key>STORAGE_BUCKET</key>
	<string>boyce-armory-investing.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315573366149:ios:8112703f383878239da8ec</string>
</dict>
</plist>
